<?xml version="1.0" encoding="UTF-8"?>
<!-- 参考自 https://logback.qos.ch/manual/configuration.html  -->
<!-- 开启日志自动更新 -->
<configuration scan="true" scanPeriod="5 seconds">

    <!-- spring官方提供的日志渲染工具 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- 可以读取spring中配置 -->
    <!--    <springProperty scope="context" name="test" source="proxy.name"/>-->
    <!--    <property name="LOG_HOME" value="${test}"/>-->
    <!-- 可以读取System.getProperty -->
    <!--    <property name="LOG_HOME" value="${PID}"/>-->
    <!-- 可以写死数据 -->
    <property name="LOG_HOME" value="logs"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <!-- spring默认日志格式 -->
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID}){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx</pattern>
            <!-- 自定义简洁格式 -->
            <!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID} -&#45;&#45; [%15.15t] %-40.40logger{39} : %msg%n%ex{5}</pattern>-->
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!--文件归档-->
    <appender name="ARCHIVE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd,aux}/%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID} --- [%15.15t] %-40.40logger{39} : %msg%n%ex{5}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <!-- 减少部分日志 -->
    <!-- 业务日志 -->
    <!-- 此处配置优先级高于root -->
    <logger name="top.meethigher.snipurl.utils.GlobalDecorator" level="DEBUG"/>
    <logger name="org.hibernate" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ARCHIVE"/>
    </root>
</configuration>